# Gradle
.gradle/
**/build/
!gradle-wrapper.jar
gradle-wrapper.properties

# Local config
local.properties
.idea/
*.iml

# Keystore & signing
*.jks
*.keystore
*.key
*.pem

# OS files
.DS_Store
Thumbs.db

# Log & crash report
*.log
crashlytics.properties
firebase/

# Kotlin/Jetpack Compose generated
*.kotlin_module
*.cache
*.cxx/

# Fastlane (optional)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Android Studio
.cxx/
*.hprof
captures/

# APK/AAB output
*.apk
*.aab
